/* html, body {
  width: 100%;
  margin: 0px;
  padding: 0px;
  font-family: sans-serif;
  color: #1f2267;
} */

/* .flex {
  display: flex;
} */

/* .header {
  width: 100%;
  height: 70px;
} */

/* .banner {
  width: 100%;
  height: 200px;
  overflow: hidden;
} */